/* 
    Design For : Align Text while wrapping under bullet.
    Created on : Sep 21, 2017, 11:46:37 AM
    Author     : GS Alim (Gmail: golam.alim | 01711-804845)
*/

.bullet-list{
    /*margin-top: 40px;*/
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 20px;

    em, i {
        margin-top: 1px;
        margin-right: 3px;
        float: left;
        color: $navbar-grdient-bottom;
        font-weight: bold;
    }

    a, span {
        margin: 0 0 0 11px;
        display: block;
        padding-bottom: 5px;
        font-size: 12px;
    }
    /*box-shadow: 0 10px 10px -6px $panel-bg-bottom;*/
}
