/* 
    Created on : Sep 26, 2017, 4:23:29 PM
    Author     : GS Alim | GMail: golam.alim | 01711-804845
*/

.set-table-border{
    border: 1px solid lightgrey;
}

.bord-of-directors{
    background: lightgrey;
    img{
        width: 200px;
    }
    p,hr,.row{
        margin: 0;
        padding: 0;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.directors{
    font-weight: bold;
    text-align: center;
    button,a{
        border-radius: 0 !important;
        width: 150px;
        height: 40px;
        color: black;
        font-weight: bold;
        background-color: $navbar-grdient-top;
        /*border: 1px solid $navbar-seperator;*/
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
        &:hover{
            color: white;
        }
    }
}

.img-table{
    td,th{
        text-align: center;
    }
    img{
        width: 100px;
        height: 100px;
    }
    tbody > tr > td{
        vertical-align: middle;
    }
}
