/*
    Created on : Sep 11, 2017, 3:52:21 PM
    Author     : G.S. Alim
*/

/*Orange Theam*/
/*$navbar-grdient-top: #F8B131;
$navbar-grdient-mid: #F49119;
$navbar-grdient-bottom: #EF7804;*/

/*Blue Theam*/
/*$navbar-grdient-top: #0F9BD8;
$navbar-grdient-mid: #10A1F1;
$navbar-grdient-bottom: #0C79A8;*/

/*Silver Theam*/
/*$navbar-grdient-top: #C7C6C7;
$navbar-grdient-mid: #878787;
$navbar-grdient-bottom: #71706F;*/

/*Dark Silver Theam*/
/*$navbar-grdient-top: #667B7B;
$navbar-grdient-mid: #344545;
$navbar-grdient-bottom: #010202;*/

/*Dark Green Theam*/
$navbar-grdient-top: #94b8b8;
$navbar-grdient-mid: #75a3a3;
$navbar-grdient-bottom: #5c8a8a;

/*FBCCI Theam*/
/*$navbar-grdient-top: #ffcc33;
$navbar-grdient-mid: #e6ac00;
$navbar-grdient-bottom: #b38600;*/

$navbar-seperator: $navbar-grdient-bottom;

/*$navbar-hover-bg: #FBC28D;*/

/*$panel-bg-top: lightgray;
$panel-bg-mid: darkgray;
$panel-bg-bottom: gray;*/

$firstpage-bg-color: #383838;
$footer-bg-bottom: gray;

$panel-header-text-color: white;

/*$firstpage-bg-color: #EF7804;*/

/*wintel.fbcci-bd.org | wintel@wintel.fbcci-bd.org | Win123!@# */
