/* 
    Created on : Jul 24, 2017, 2:47:35 PM
    Author     : G.S. Alim
*/

@import '_variables';
/*@import '_social-network';*/
@import '_nested-submenu';
@import '_top-banner';
@import '_footer';

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

#bs-navbar-collapse-1{
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*font-weight: bold;*/
    font-size: 13px;

    /*    .navbar-nav li a{
            color: white;
            font-weight: bold;
        }*/
    /*    .navbar-nav li a:hover {
            background: $navbar-hover-bg;
            color: black;
        }*/

    .navbar-nav{
        li{
            a{
                color: white;
                font-weight: bold;
            }
            :hover {
                background: $navbar-seperator;
                color: black;
                background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
            }
        }
    }

    ul{
        li{
            border-right: 2px solid $navbar-seperator;
        }
        :last-child {
            border-right: none;
        }
    }
}

/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #af6c2c;
}*/

.navbar-default .navbar-nav >.open>a {
    /*background-color: #af6c2c;*/
    background-color: $navbar-grdient-bottom;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 8px !important;
    padding-bottom:0 !important;
    height: 35px;
}

.navbar {
    min-height: 35px !important;
}
.dropdown-caret{
    border-right:4px solid transparent !important;
}

.notice{
    background: $navbar-grdient-mid;
    height: 90px;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
}

.panel-default > .panel-heading {
    /*background-image: linear-gradient($navbar-grdient-top, $panel-bg-mid, $panel-bg-bottom);*/
    /*border-color: $navbar-grdient-bottom;*/
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    color: white;
    border-radius: 0 !important;

    padding: 7px 10px 1px 10px;
    height: 30px;
    font-size: 13px;

    font-weight: bold;
}

.panel-body{
    font-size: 12px;
}

.notice-list{
    /*margin-top: 40px;*/
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 20px;

    em, i {
        margin-top: 1px;
        margin-right: 3px;
        float: left;
        color: $navbar-grdient-bottom;
        font-weight: bold;
    }

    a, span {
        margin: 0 0 0 11px;
        display: block;
        padding-bottom: 5px;
        font-size: 12px;
    }

    box-shadow: 0 10px 10px -6px $panel-bg-bottom;
}
