/* 
    Created on : Jul 24, 2017, 2:47:35 PM
    Author     : G.S. Alim
*/
@import '_variables';
/*@import '_custom-gutter';*/
@import '_navbar';
@import '_nested-submenu';
@import '_top-banner';
@import '_bullet-list-align';
@import '_custom-bs-panel';
@import '_footer';
@import '_home';
@import '_common-style';
@import '_camera-panel';

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

@media (min-width: 992px) {
    #FBCCICarousel, #homeCarousel{
        img{
            width: 100%;
            height: 65vh;
            object-fit: cover; // here
        }
    }
}

.text-bold{
    font-weight: bold; 
}

.text-inline{
    display: inline;
}

.text-value{
    text-indent: 20px;
}

/*.notice{
    background: $navbar-grdient-mid;
    height: 90px;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
}*/


/*.bold-parent-only li{
    font-weight: bold;
}*/

/*.bold-parent-only li ul li{
    font-weight: 200 !important;
}*/

.bold-parent-only {
    li{
        font-weight: bold;
        ul li{
            font-weight: 200 !important;
        }
    }
}

.uniform-row{
    display: flex;

    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.uniform-height{
    flex: 1;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}


