/* 
    Created on : Jul 24, 2017, 2:47:35 PM
    Author     : G.S. Alim
*/

@import '_variables';

/*@import '_social-network';*/
@import '_nested-submenu';

/*@import '_nested_submenu_2';*/

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

#bs-navbar-collapse-1{
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    /*-webkit-box-shadow: 0 0 25px 0 red;*/
    /*box-shadow: 0 0 70px 0 #777;*/
    /*box-shadow: 0px 0px 10px 0px #ccc;*/
    /*box-shadow: -3px 3px 5px 3px #ccc;*/
    /*box-shadow: 0 4px 10px 5px #ccc;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*font-weight: bold;*/
    font-size: 13px;

    /*    .navbar-nav li a{
            color: white;
            font-weight: bold;
        }*/
    /*    .navbar-nav li a:hover {
            background: $navbar-hover-bg;
            color: black;
        }*/

    .navbar-nav{
        li{
            a{
                color: white;
                font-weight: bold;
            }
            :hover {
                background: $navbar-hover-bg;
                color: black;
                background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
            }
        }
    }

    ul{
        li{
            border-right: 2px solid $navbar-hover-bg;
        }
        :last-child {
            border-right: none;
        }
    }
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 8px !important;
    padding-bottom:0 !important;
    height: 35px;
}

.navbar {
    min-height: 35px !important;
}

.notice{
    background: $navbar-grdient-mid;
    height: 90px;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
}

.panel-default > .panel-heading {
    /*background-image: linear-gradient($navbar-grdient-top, $panel-bg-mid, $panel-bg-bottom);*/
    /*border-color: $navbar-grdient-bottom;*/
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    color: white;
    border-radius: 0 !important;

    padding: 7px 10px 1px 10px;
    height: 30px;
    font-size: 13px;

    font-weight: bold;
}

.panel-body{
    font-size: 12px;
}

.notice-list{
    /*margin-top: 40px;*/
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 20px;

    em, i {
        margin-top: 1px;
        margin-right: 3px;
        float: left;
        color: $navbar-grdient-bottom;
        font-weight: bold;
    }

    a, span {
        margin: 0 0 0 11px;
        display: block;
        padding-bottom: 5px;
        font-size: 12px;
    }

    box-shadow: 0 10px 10px -6px $panel-bg-bottom;
}

/*https://stackoverflow.com/questions/12081814/have-an-issue-with-box-shadow-inset-bottom-only*/

.empty-block{
    height: 100px;
    background-color: lightgray;
    box-shadow: inset  0 -10px 20px -10px black;
}

.footer{
    height: 40px;
    margin-bottom: 5px;
    background-color: $navbar-grdient-mid;
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    box-shadow: 0 10px 10px -3px $panel-bg-bottom;
}

.top-banner{
    margin-bottom: 15px;
    position: relative;
    top: 0;
    left: 0;
}

.top-bg{
    position: relative;
    top: 0;
    left: 0;
}

.bg-logo{
    position: absolute;
    top: 20%;
    left: 20px;
    width: 30%;
}

.social{
    -webkit-transform: scale(0.8);
}
.social-ico-div{
    position: absolute;
    top: 15%;
    left: 75%;
    width: 25%;
    /*    .btn-social-icon{
            padding: 3px;
            margin: 0;
            height: 50px;
        }*/
}