/* 
    Created on : Jul 24, 2017, 2:47:35 PM
    Author     : G.S. Alim
*/
/*
    Created on : Sep 11, 2017, 3:52:21 PM
    Author     : G.S. Alim
*/
/*Orange Theam*/
/*$navbar-grdient-top: #F8B131;
$navbar-grdient-mid: #F49119;
$navbar-grdient-bottom: #EF7804;*/
/*Blue Theam*/
/*$navbar-grdient-top: #0F9BD8;
$navbar-grdient-mid: #10A1F1;
$navbar-grdient-bottom: #0C79A8;*/
/*Silver Theam*/
/*$navbar-grdient-top: #C7C6C7;
$navbar-grdient-mid: #878787;
$navbar-grdient-bottom: #71706F;*/
/*Dark Silver Theam*/
/*$navbar-grdient-top: #667B7B;
$navbar-grdient-mid: #344545;
$navbar-grdient-bottom: #010202;*/
/*Dark Green Theam*/
/*FBCCI Theam*/
/*$navbar-grdient-top: #ffcc33;
$navbar-grdient-mid: #e6ac00;
$navbar-grdient-bottom: #b38600;*/
/*$navbar-hover-bg: #FBC28D;*/
/*$panel-bg-top: lightgray;
$panel-bg-mid: darkgray;
$panel-bg-bottom: gray;*/
/*$firstpage-bg-color: #EF7804;*/
/*wintel.fbcci-bd.org | wintel@wintel.fbcci-bd.org | Win123!@# */
/*@import '_custom-gutter';*/
/*
    Design for : Navbar
    Created on : Sep 21, 2017, 11:32:41 AM
    Author     : G.S. Alim
*/
#bs-navbar-collapse-1 {
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*font-weight: bold;*/
  font-size: 13px;
  /*    .navbar-nav li a{
          color: white;
          font-weight: bold;
      }*/
  /*    .navbar-nav li a:hover {
          background: $navbar-hover-bg;
          color: black;
      }*/
}
#bs-navbar-collapse-1 .navbar-nav li a {
  color: white;
  font-weight: bold;
}
#bs-navbar-collapse-1 .navbar-nav li :hover {
  background: #5c8a8a;
  color: black;
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
}
#bs-navbar-collapse-1 ul li {
  border-right: 2px solid #5c8a8a;
}
#bs-navbar-collapse-1 ul :last-child {
  border-right: none;
}

/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #af6c2c;
}*/
.navbar-default .navbar-nav > .open > a {
  /*background-color: #af6c2c;*/
  background-color: #5c8a8a;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 8px !important;
  padding-bottom: 0 !important;
  height: 35px;
}

.navbar {
  min-height: 35px !important;
}

.dropdown-caret {
  border-right: 4px solid transparent !important;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2017, 12:36:36 PM
    Author     : G.S. Alim
*/
.dropdown-menu {
  /*color: black;*/
  /*background: $navbar-grdient-bottom;*/
  font-size: 12px;
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
}

.dropdown-submenu {
  /*color: black;*/
  position: relative;
  /*background: $navbar-grdient-top;*/
  border: none;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  /*background: #00BCF6;*/
}

/*.dropdown-menu > .dropdown-submenu > li{
    color: black;
    background: #00BCF6;
}*/
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  color: black;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
  /*color: black;*/
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* 
    Created on : Sep 14, 2017, 12:24:44 PM
    Author     : G.S. Alim
*/
.top-banner {
  margin-bottom: 15px;
  position: relative;
  top: 0;
  left: 0;
}

.top-bg {
  position: relative;
  top: 0;
  left: 0;
}

.bg-logo {
  position: absolute;
  top: 20%;
  left: 20px;
  width: 30%;
}

.social {
  -webkit-transform: scale(0.8);
}

.social-ico-div {
  position: absolute;
  top: 15%;
  left: 75%;
  width: 25%;
}

/* 
    Design For : Align Text while wrapping under bullet.
    Created on : Sep 21, 2017, 11:46:37 AM
    Author     : GS Alim (Gmail: golam.alim | 01711-804845)
*/
.bullet-list {
  /*margin-top: 40px;*/
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  /*box-shadow: 0 10px 10px -6px $panel-bg-bottom;*/
}
.bullet-list em, .bullet-list i {
  margin-top: 1px;
  margin-right: 3px;
  float: left;
  color: #5c8a8a;
  font-weight: bold;
}
.bullet-list a, .bullet-list span {
  margin: 0 0 0 11px;
  display: block;
  padding-bottom: 5px;
  font-size: 12px;
}

/*
    Design For: Custome Bootstrap Panel
    Created on : Sep 21, 2017, 11:42:19 AM
    Author     : GS Alim (Gmail: golam.alim | 01711-804845)
*/
.panel-row {
  margin-top: 10px;
}

/*.panel-default > .panel-heading {
    background-image: linear-gradient($navbar-grdient-top, $panel-bg-mid, $panel-bg-bottom);
    border-color: $navbar-grdient-bottom;
    background-image: linear-gradient($navbar-grdient-top, $navbar-grdient-mid, $navbar-grdient-bottom);
    color: white;
    border-radius: 0 !important;

    padding: 7px 10px 1px 10px;
    height: 30px;
    font-size: 13px;

    font-weight: bold;
}*/
.custome-panel {
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
  color: white !important;
  border-radius: 0 !important;
  padding: 7px 10px 1px 10px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
}

.fbcci .panel-body {
  font-size: 12px;
  max-height: 170px;
  min-height: 170px;
  /*overflow-y: scroll;*/
}

/* 
    Created on : Sep 14, 2017, 12:29:54 PM
    Author     : G.S. Alim
*/
/*https://stackoverflow.com/questions/12081814/have-an-issue-with-box-shadow-inset-bottom-only*/
.empty-block {
  height: 100px;
  background-color: lightgray;
  box-shadow: inset  0 -10px 20px -10px black;
}

.footer {
  height: 35px;
  margin-top: -10px;
  background-color: #75a3a3;
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
  box-shadow: 0 10px 10px -3px gray;
  /*margin-bottom: 5px;*/
  /*color: white;*/
}
.footer h6 {
  padding-top: 1.1%;
  font-weight: bold;
}

/* 
    Created on : Sep 18, 2017, 4:18:58 PM
    Author     : G.S. Alim
*/
.home {
  /*    .about{
          margin-top: -20px;
          background-color: $navbar-grdient-top;
          h2{
              padding-top: 10px;
              font-weight: bold;
          }
          p{
              padding-bottom: 20px;
          }
      }*/
  /*    @media (min-width: 992px) {
          #homeCarousel{
              img{
                  width: 100%;
                  height: 65vh;
                  object-fit: cover; // here
              }
          }
      }*/
  /*    button{
          margin-top: 20px;
          margin-bottom: 20px;
      }*/
}
.home .welcome {
  background-color: #383838;
  /*background-color: $navbar-grdient-bottom;*/
  color: #fff;
  position: relative;
  top: -20px;
  padding: 10px 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
.home .welcome h1 {
  /*padding-bottom: 10px;*/
  font-size: 4em;
}
.home .welcome p {
  font-size: 13px;
}
.home .btn-primary {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  background-color: #383838;
  /*display: block;*/
  margin: 20px auto;
  /*width: 15%;*/
  border-radius: 0 !important;
}

/* 
    Created on : Sep 26, 2017, 4:23:29 PM
    Author     : GS Alim | GMail: golam.alim | 01711-804845
*/
.set-table-border {
  border: 1px solid lightgrey;
}

.bord-of-directors {
  background: lightgrey;
}
.bord-of-directors img {
  width: 200px;
}
.bord-of-directors p, .bord-of-directors hr, .bord-of-directors .row {
  margin: 0;
  padding: 0;
}
.bord-of-directors hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.directors {
  font-weight: bold;
  text-align: center;
}
.directors button, .directors a {
  border-radius: 0 !important;
  width: 150px;
  height: 40px;
  color: black;
  font-weight: bold;
  background-color: #94b8b8;
  /*border: 1px solid $navbar-seperator;*/
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(#94b8b8, #75a3a3, #5c8a8a);
}
.directors button:hover, .directors a:hover {
  color: white;
}

.img-table td, .img-table th {
  text-align: center;
}
.img-table img {
  width: 100px;
  height: 100px;
}
.img-table tbody > tr > td {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  /*    #FBCCICarousel{
          img{
              height: 65vh;
          }
      }*/
}
@media (min-width: 992px) {
  #FBCCICarousel img, #homeCarousel img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
}
.text-bold {
  font-weight: bold;
}

.text-inline {
  display: inline;
}

.text-value {
  text-indent: 20px;
}

/*.notice{
    background: $navbar-grdient-mid;
    height: 90px;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
}*/
/*.bold-parent-only li{
    font-weight: bold;
}*/
/*.bold-parent-only li ul li{
    font-weight: 200 !important;
}*/
.bold-parent-only li {
  font-weight: bold;
}
.bold-parent-only li ul li {
  font-weight: 200 !important;
}

.uniform-row {
  display: flex;
}
.uniform-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.uniform-height {
  flex: 1;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
