<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading custome-panel">Board of Directors</div>
        <div class="panel-body directors">

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Directors Chamber Group</div>
                        <div class="panel-body">
                            <!--<a href="#" class="btn btn-primary btn-lg" role="button">View</a>-->
                            <button type="submit" ng-click="redirectTo('fbcci.directors_chamber_group')">View</button>
                        </div>
                        <div class="panel-footer">Term 2017 - 2019</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-bold">Directors Chamber Group</div>
                        <div class="panel-body">
                            <button type="submit" ng-click="redirectTo('fbcci.directors_association_group')">View</button>
                        </div>
                        <div class="panel-footer">Term 2017 - 2019</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-bold">FBCCI Board of Directors</div>
                        <div class="panel-body">
<!--                            <a target="_self" href="documents/Board-of-Directors-List-2017-2019.pdf"
                               download="Board-of-Directors-List-2017-2019.pdf">Download</a>-->
                            <button type="submit" ng-click="redirectTo('fbcci.directors_list')">Download</button>
                        </div>
                        <div class="panel-footer">Term 2017 - 2019</div>
                    </div>
                </div>
            </div>
            <!--End of Row-->
        </div>
    </div>
</div>