<!--        <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
</script>-->

<nav class="navbar navbar-default">
    <div class="container">
        <div class="top-banner">
            <img class="top-bg img-responsive" src="images/logo/HeaderBackground.png" alt="FBCCI Banner" />
            <img class="bg-logo" src="images/logo/Logo_Company_Name.png" alt="FBCCI Logo" />
            <!--                    <div class="social-ico-div text-right">
                                    <a href="http://facebook.com" class="btn btn-social-icon btn-facebook">
                                        <i class="fa fa-facebook-square fa-2x social"></i></a>    
                                    <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus-square fa-2x social"></i></a>
                                    <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin-square fa-2x social"></i></a>
                                    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter-square fa-2x social"></i></a>
                                </div>-->
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="iconBarClicked()">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" ng-class="isNavCollapsed ? 'collapse' : 'in'" id="bs-navbar-collapse-1">
            <!--<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" id="bs-navbar-collapse-1">-->
            <!--<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">-->

            <ul class="nav navbar-nav">
                <li ng-click="hideDropDown()"><a data-ui-sref="fbcci">HOME</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT<span class="caret dropdown-caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a ng-click="isNavCollapsed = !isNavCollapsed" tabindex="-1" data-ui-sref="fbcci.about">FBCCI</a>
                            <ul class="dropdown-menu">
                                <li ng-click="hideDropDown()"><a data-ui-sref="fbcci.about">BRIEF HISTORY</a></li>
                                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref="fbcci.past_presidents">PAST PRESIDENTS</a></li>
                                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref="fbcci.past_first_vp">PAST FIRST VICE PRESIDENTS</a></li>
                                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref="fbcci.past_vp">PAST VICE PRESIDENTS</a></li>
                                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref="fbcci.vision_mission">VISION & MISSION</a></li>
                                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref='fbcci.secretariat'>FBCCI SECRETARIAT</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a ng-click="hideDropDown()" tabindex="-1" data-ui-sref="fbcci.president">BOARD OF DIRECTORS</a>
                            <ul class="dropdown-menu">
                                <li ng-click="hideDropDown()"><a data-ui-sref="fbcci.president">PRESIDENTS</a></li>
                                <li><a href="#">FIRST VICE PRESIDENTS</a></li>
                                <li><a href="#">VICE PRESIDENTS</a></li>
                                <li><a href="#">DIRECTORS</a></li>
                                <li><a href="#">PRESIDENT DESIGNATION</a></li>
                                <li><a href="#">DIRECTOR GENERAL</a></li>
                                <li><a href="#">EXECUTIVE BOARD</a></li>                                        
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">FBCCI MEMBERSHIPS</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">CHIEF MEMBER BODIES</a></li>
                                <li><a href="#">GENERAL BODY MEMBERS (CHAMBERS 2017-2019)</a></li>
                                <li><a href="#">GENERAL BODY MEMBERS (ASSOCIATIONS 2017-2019)</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">STANDING COMMITTEE</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">STANDING COMMITTEE LISTS</a></li>
                                <li><a href="#">STANDING COMMITTEE MEMBERS</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">DIVISIONS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">PUBLICATIONS</a></li>
                <li><a href="#">RESEARCH PAPERS</a></li>
                <li><a href="#">MEDIA</a></li>
                <li ng-click="isNavCollapsed = !isNavCollapsed"><a data-ui-sref="fbcci.contact">CONTACT</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div data-ui-view="fbcci">
    <!--http://www.cii.in/-->
    <div class="container fbcci">
        <div class="row">
            <div class="col-md-12">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" id="FBCCICarousel">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <img class="img-responsive" ng-src="{{slide.image}}">
                    </div>
                </div>
                <!-- <div class="text-center notice">
                    <h2>NOTICE</h2>
                </div>-->
            </div><!--Carosusel Div End-->
        </div><!--Carosusel Row End-->

        <div class="row panel-row">
            <!--About FBCCI Panel-->
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">Ongoing Events</div>
                    <div class="panel-body">
                        <p class="text-justify">The Federation of Bangladesh Chambers of Commerce and Industry (FBCCI)
                            is the apex trade organization of Bangladesh playing a pivotal role in
                            consultative and advisory capacity, safeguarding the interest of the private sector.
                        </p>
                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>

            <!--Vission & Mission Panel-->
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">Upcoming Events</div>
                    <div class="panel-body">
                        <p class="text-justify">The Federation of Bangladesh Chambers of Commerce and Industry (FBCCI)
                            is the apex trade organization of Bangladesh playing a pivotal role in
                            consultative and advisory capacity, safeguarding the interest of the private sector.
                        </p>
                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                    <!--                <div class="panel-footer">
                                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                                    </div>-->
                </div>
            </div>

            <!--About FBCCI Panel-->
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">About FBCCI</div>
                    <div class="panel-body">
                        <p class="text-justify">
                            The Federation of Bangladesh Chambers of Commerce and Industry (FBCCI)
                            is the apex trade organization of Bangladesh playing a pivotal role in
                            consultative and advisory capacity, safeguarding the interest of the private sector.
                        </p>
                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                    <!--                <div class="panel-footer">
                                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                                    </div>-->
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <!--Vission & Mission Panel-->
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">Vission & Mission</div>
                    <div class="panel-body">
                        <p class="text-justify">
                            The Federation of Bangladesh Chambers of Commerce and Industry (FBCCI)
                            is the apex trade organization of Bangladesh playing a pivotal role in
                            consultative and advisory capacity, safeguarding the interest of the private sector.
                        </p>
                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                    <!--                <div class="panel-footer">
                                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                                    </div>-->
                </div>
            </div>
        </div><!--First Row of Small Box Ends-->

        <div class="row panel-row">
            <!--Useful Links-->
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">Useful Links</div>
                    <div class="panel-body">
                        <a href = "https://www.bb.org.bd/econdata/exchangerate.php">Currency Conversion</a><br>
                        <a href = "https://www.bb.org.bd/">Bangladesh Bank</a><br>
                        <a href = "http://www.bangladesh.gov.bd/">Bangladesh National Portal</a><br>
                        <a href = "http://a2i.pmo.gov.bd/">Access 2 Information</a><br><br>

                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-3 col-md-push-6">
                <div class="panel panel-default">
                    <div class="panel-heading custome-panel">International</div>
                    <div class="panel-body">
                        <p class="text-justify">
                            The Federation of Bangladesh Chambers of Commerce and Industry (FBCCI)
                            is the apex trade organization of Bangladesh.
                        </p>
                        <a href="#">MORE <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>

            <!--Notice Board-->
            <div class="col-sm-12 col-md-6 col-md-pull-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center custome-panel">Notice Board</div>
                    <div class="panel-body bullet-list">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href = "#">Bangladesh Budget in Brief 2017-2018.</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href = "#">Notice For E-Library Service, FBCCI.</a>
                                <!--<hr>-->
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href = "#">Result of Election of the Office Bearers of FBCCI for the Term 2017-2018.</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href = "#">Schedule of Election for the Post of President, First Vice President & Vice President.</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-double-right"></i>
                                <a href = "#">Result of Election of FBCCI (2017-2018).</a>
                            </li>
                            <!--                         <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">Valid Nominations for the post of Directors of FBCCI for the Term 2017-2018 & 
                                                            2018-2019 (Chamber Group)</a>
                                                    </li>
                                                   <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">Valid Nominations for the post of Directors of FBCCI for the Term 2017-2018 & 
                                                            2018-2019 (Association Group)</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">CIB Inquiry Form</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">Export Incentive Form</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">City Corporation Trade License Fee Schedule</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-angle-double-right"></i>
                                                        <a href = "#">Questionnaire (Business Profile of the General Body)</a>
                                                    </li>-->
                        </ul>

                        <a href="#">MORE <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

        </div><!--Second Row of Small Box Ends-->
    </div>
</div>

<div class="container">
    <!--<div class="row">-->
    <div class="empty-block"></div>
    <!--</div>-->
    <div class="footer">
        <h6 class="text-center">All rights are reserved, Copyright © 1973-2016, FBCCI</h6>
    </div>
</div>
